version: '3.8'

services:
  streaming-server:
    build: ./streaming-server
    volumes:
      - ./streaming-server:/app
      - ./media:/app/media
    ports:
      - "1935:1935"
      - "8000:8000"
      - "8443:8443"
      - "8080:8080"
    command: ["npm", "start"]
  my-webcam-app:
    build:
      context: ./my-webcam-app
    volumes:
      - ./my-webcam-app:/app
    ports:
      - "3000:3000"
    depends_on:
      - streaming-server
    environment:
      - CHOKIDAR_USEPOLLING=true
    command: ["npm", "start"]
